* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: rgb(245, 194, 128);
  width: 100%;
}

h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  margin: 10px 0 5px 5px;
  background-color: rgb(245, 194, 128);
  padding: 7px;
  font-size: 18px;
  border-radius: 5px;
}

button:hover {
  filter: hue-rotate(90deg);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.search-input {
  margin: 20px;
}
